{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />

    <title>Welcome</title>
    <style>
        .btn-marg{
            display: block;
            margin: 10px auto;
        }
        
        .login-panel{
            margin: auto;
            width: 70%;
        }

        .center-content{
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    </head>
    <body style="background-color: #E74A3B; color: white; font-family: 'Josefin Sans';">
        <div class="container center-content">
            <div class="login-panel">
            <h4 class="text-center">Welcome!</h4>
            <div class="row">
                <div class="col-sm-6 mx-auto">
                <form class="form-group" method="POST" id="form_login" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                    <div style="padding-top: 5px;">
                        {% for err in form.non_field_errors %}
                        <p class="alert alert-danger">{{ err }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-danger btn-marg">Login</button>
                </form>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>