<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <script src="https://kit.fontawesome.com/8f7ecc8fdd.js" crossorigin="anonymous"></script>
        <style>
            .content {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                font-size: 40px;
                color: #fff;
            }

            #redir_list{
              margin-right: 10px;
            }
            .centered {
              margin: auto;
              position: relative;
              top: 50%;
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }
        </style>
    <title>Advocato</title>
  </head>
  <body style="background-color: #E74A3B; font-family: 'Josefin Sans'">    
    {% if user.is_authenticated %}
    <div class="container">
      <div class="row">
        <h1 style="color: white; margin-top: 40px;">Hai, {{ user.username }}</h1>
      </div>
      
      <div class="row">
        <div class="col-sm-6 mx-auto" style="margin: 40px 0px">
          <h1>Upload File</h1>
          <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form }}
                <br>
            <div class="pull-right">
                <button type="submit" class="btn btn-danger float-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Filename</th>
            <th scope="col">File</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for docs in doc %}
          <tr>
            <td>{{ docs.document_name }}</td>
            <td><a class="btn btn-danger" href="{{ docs.doc.url }}">View</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete' docs.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      <a class="active btn btn-danger text-center" href="{% url 'logout' %}">Logout</a>
    </div>
    {% else %}
    <div class="content">
      <h1>Hello, world!</h1>
      <a class="active btn btn-danger text-center" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>